.cart-dropdown {
  position: absolute;
  width: 280px;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border: 1px solid #444;
  background-color: #eee;
  top: 80px;
  right: 50px;
  z-index: 5;

  .cart-items {
    // height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    /* Chrome and Safari */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .no-item {
      margin: 10px;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }
  }

  .total {
    // display: flex;
    // justify-content: flex-end;
    font-weight: bold;
    margin-top: 5px;
  }

  button {
    margin-top: 5px;
  }
}
