.sign-in {
  width: 400px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 500px) {
    width: 350px;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    .sign-in__button--google {
      text-indent: 3px;
    }

    @media only screen and (max-width: 500px) {
      .sign-in__button {
        min-width: unset;
        width: 45%;
      }

      .sign-in__button--google {
        min-width: unset;
        padding: 0 20px;
      }
    }
  }
}
